{% verbatim %}
<div id="listApp">

    <ul>
        <li v-for="product in products">
            <span>{{ product }}</span>
            <button v-on:click="removeProduct($index,$event)">X</button>
        </li>
    </ul>

    <validator name="formValidation">
        <form>
            <input name="title" initial="off"  v-validate:title="{ required: true }">
            <p v-if="$formValidation.title.required">请填写标题</p>

            <input name="title2" initial="off" detect-change="off" detect-blur="off" v-validate:title2="{ required: true }">
            <p v-if="$formValidation.title2.required">请填写标题2</p>
        </form>
    </validator>

</div>
{% endverbatim %}


<script src="/static/js/jquery.js"></script>
<script src="/static/js/vue.js"></script>
<script src="/static/js/vue-validator.min.js"></script>

<script>

    var app = new Vue({
        el: '#listApp',
        data: {{ data | raw }},
        methods: {
            removeProduct: function (index, event) {
                this.products.splice(index, 1);
            }
        }
    })


</script>


